* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.btn {
  color: #fff;
  background-color: #722ED1;
  border: 1px solid #722ED1;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 23px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 16px; }
  .btn:last-child {
    margin-right: 0px; }
  .btn:hover {
    background-color: #FFFFFF;
    color: #000; }
  .btn.btn_white {
    background-color: #FFFFFF;
    color: #000; }
    .btn.btn_white:hover {
      color: #fff;
      background-color: #722ED1; }

.btn_form {
  display: block;
  padding: 14px;
  color: #fff;
  background-color: #722ED1;
  -webkit-box-shadow: 0 3px 6px;
          box-shadow: 0 3px 6px;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-transition: border-radius 0.4s ease-in-out;
  transition: border-radius 0.4s ease-in-out;
  text-decoration: none; }
  .btn_form:hover {
    border-radius: 30px; }

.btn_simple {
  color: #722ED1;
  border: 1px solid #722ED1;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 23px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn_simple:hover {
    background-color: #722ED1;
    color: #fff; }

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E2F1FF), to(#FFFFFF));
  background-image: linear-gradient(to bottom right, #E2F1FF, #FFFFFF 100%); }

#header {
  padding-top: 24px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header > .logo {
      display: block;
      width: 48px;
      height: 48px; }
      #header .inner_header > .logo > img {
        width: 100%; }
    #header .inner_header .right_side_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #header .inner_header .right_side_header .mnu_top {
        list-style-type: none; }
        #header .inner_header .right_side_header .mnu_top > li {
          display: inline-block;
          position: relative; }
          #header .inner_header .right_side_header .mnu_top > li a {
            display: block;
            text-decoration: none;
            font-weight: 500;
            color: #000;
            padding: 2px 40px 4px 0px;
            -webkit-transition: color 0.4s ease;
            transition: color 0.4s ease; }
            #header .inner_header .right_side_header .mnu_top > li a:hover {
              color: #722ED1; }
          #header .inner_header .right_side_header .mnu_top > li > .sub_menu {
            position: absolute;
            z-index: 10;
            background-color: #fff;
            top: 35px;
            border-radius: 5px;
            padding: 0px;
            -webkit-animation: opac 0.6s;
                    animation: opac 0.6s;
            display: none; }
            #header .inner_header .right_side_header .mnu_top > li > .sub_menu > li {
              display: block; }
              #header .inner_header .right_side_header .mnu_top > li > .sub_menu > li > a {
                padding: 0px 10px;
                font-size: 14px; }
          #header .inner_header .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
            opacity: 1;
            display: block; }
          #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
            content: "";
            display: block;
            width: 8px;
            height: 4px;
            background-image: url("../img/arrow_down.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 13px;
            left: 47px; }

@-webkit-keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.notif {
  background-color: #F9F0FF;
  padding: 8px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }
  .notif > img {
    width: 16px;
    height: auto; }
  .notif > p {
    color: #722ED1; }
    .notif > p > a {
      text-decoration: none;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      border-bottom: 1px solid #722ED1;
      color: #722ED1; }
      .notif > p > a:hover {
        color: #5b25a7;
        border-color: #5b25a7; }

.main_banner {
  padding-top: 131px;
  padding-bottom: 158px; }
  .main_banner .mb_info {
    margin-right: 16px; }
    .main_banner .mb_info > h1 {
      color: #000;
      font-size: 40px;
      font-weight: 900;
      line-height: 48px;
      margin-bottom: 24px;
      max-width: 350px; }
    .main_banner .mb_info > .description {
      color: #8B9196;
      margin-bottom: 24px; }
    .main_banner .mb_info > .btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

section {
  padding: 80px 0px; }
  section#top_banner {
    padding: 0px; }

#advantages .notif {
  width: 158px;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 30px; }
  #advantages .notif > img {
    width: 25px;
    height: auto;
    margin-right: 12px; }
  #advantages .notif > p {
    font-weight: 700; }
#advantages h2 {
  color: #160637;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 24px 0px; }
#advantages .description {
  font-weight: 500;
  color: #9D9DB1;
  max-width: 672px;
  margin: 0 auto 24px auto;
  text-align: center; }
#advantages .row_adv .item_adv {
  text-align: center; }
  #advantages .row_adv .item_adv > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 16px; }
  #advantages .row_adv .item_adv > .heading {
    color: #160637;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center; }
  #advantages .row_adv .item_adv > .descr {
    color: #9D9DB1;
    text-align: center; }

section.information .img-responsive {
  margin: 0 auto; }
section.information .right_info > .notif {
  width: 256px;
  border-radius: 30px; }
section.information .right_info > h3 {
  color: #160637;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px; }
section.information .right_info > .descr {
  color: #9D9DB1; }

#reviews {
  padding: 220px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/reviews_bg.svg"); }
  #reviews .rev_item {
    text-align: center;
    display: none;
    -webkit-animation: opac 0.4s;
            animation: opac 0.4s; }
    #reviews .rev_item.active {
      display: block; }
    #reviews .rev_item > .quotes {
      color: #160637;
      font-size: 24px;
      max-width: 840px;
      margin: 0 auto 32px auto;
      height: 100px; }
    #reviews .rev_item > img {
      width: 80px;
      height: 80px;
      border-radius: 50%; }
    #reviews .rev_item > .name {
      margin-top: 32px; }
    #reviews .rev_item > .name, #reviews .rev_item > .position {
      color: #000;
      font-weight: 900; }
  #reviews .line {
    height: 1px;
    background-color: #DEC9FA;
    width: 100%;
    margin: 32px 0px; }
  #reviews .nav_rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #reviews .nav_rev > div {
      cursor: pointer;
      width: 16%;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      -webkit-transition: all 0.6s easy;
      transition: all 0.6s easy;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #reviews .nav_rev > div:hover, #reviews .nav_rev > div.active {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }

#pre_footer .pf_info {
  text-align: center; }
  #pre_footer .pf_info > h4 {
    color: #160637;
    font-weight: 900;
    font-size: 38px;
    text-align: center; }
  #pre_footer .pf_info > .line_img {
    display: block;
    margin: 42px auto; }
#pre_footer .form_wrapper {
  background-color: #F9F0FF;
  border-radius: 4px;
  max-width: 480px;
  margin: 0 auto; }
  #pre_footer .form_wrapper > form {
    border-radius: 4px;
    border: 1px solid #F9F0FF;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
            box-shadow: 0 10px 20px rgba(116, 116, 116, 0.16);
    width: 86%;
    margin: 0 auto;
    background-color: #fff;
    padding: 36px 36px 24px;
    text-align: center; }
    #pre_footer .form_wrapper > form > h4 {
      color: #160637;
      font-size: 22px;
      margin-bottom: 32px;
      font-weight: 900; }
    #pre_footer .form_wrapper > form > input {
      outline: none;
      display: block;
      width: 100%;
      margin-bottom: 16px;
      padding: 14px 24px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid rgba(137, 137, 162, 0.5);
      -webkit-transition: border-color 0.4s ease-in-out;
      transition: border-color 0.4s ease-in-out; }
      #pre_footer .form_wrapper > form > input::-webkit-input-placeholder {
        color: #9D9DB1;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:-ms-input-placeholder {
        color: #9D9DB1;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input::-ms-input-placeholder {
        color: #9D9DB1;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input::placeholder {
        color: #9D9DB1;
        font-size: 16px; }
      #pre_footer .form_wrapper > form > input:focus {
        border-color: #8043d6; }
    #pre_footer .form_wrapper > form > .or {
      margin: 20px auto 15px;
      color: #000;
      -webkit-text-decoration: uppercase;
              text-decoration: uppercase; }
    #pre_footer .form_wrapper > form > a {
      display: block;
      max-width: 200px;
      margin: 0 auto;
      text-decoration: none; }
    #pre_footer .form_wrapper > form > .footer_form > .line {
      height: 1px;
      width: 100%;
      background-color: rgba(137, 137, 162, 0.5);
      margin: 22px 0; }
    #pre_footer .form_wrapper > form > .footer_form > p {
      font-size: 14px;
      color: #9D9DB1;
      background-color: #fff;
      border: none; }
      #pre_footer .form_wrapper > form > .footer_form > p > a {
        text-decoration: none;
        color: #1563ff; }

#footer {
  padding: 60px; }
  #footer .logo_info > a {
    width: 48px;
    height: 48px;
    display: block; }
    #footer .logo_info > a > img {
      margin: 0 auto; }
  #footer .logo_info > .descr {
    color: #160637;
    font-size: 14px;
    margin: 16px 0; }
  #footer .mnu_footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 15px; }
    #footer .mnu_footer_wrapper > .mnu_footer {
      width: 23%; }
      #footer .mnu_footer_wrapper > .mnu_footer > ul {
        list-style-type: none; }
        #footer .mnu_footer_wrapper > .mnu_footer > ul > li {
          display: block; }
          #footer .mnu_footer_wrapper > .mnu_footer > ul > li > a {
            display: block;
            padding: 8px 0;
            text-decoration: none;
            color: #160637;
            -webkit-transition: color 0.4s ease;
            transition: color 0.4s ease; }
            #footer .mnu_footer_wrapper > .mnu_footer > ul > li > a:hover {
              color: #722ED1; }
  #footer b.heading {
    color: #160637;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    font-weight: 900; }
  #footer .newsletter > b.heading {
    margin-bottom: 16px; }
  #footer .newsletter > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 px 9px;
            box-shadow: 0 px 9px;
    position: relative; }
    #footer .newsletter > form > input {
      display: block;
      border: none;
      outline: none;
      padding: 12px 16px; }
      #footer .newsletter > form > input::-webkit-input-placeholder {
        color: #9D9DB1;
        font-size: 14px; }
      #footer .newsletter > form > input:-ms-input-placeholder {
        color: #9D9DB1;
        font-size: 14px; }
      #footer .newsletter > form > input::-ms-input-placeholder {
        color: #9D9DB1;
        font-size: 14px; }
      #footer .newsletter > form > input::placeholder {
        color: #9D9DB1;
        font-size: 14px; }
    #footer .newsletter > form > button {
      position: absolute;
      cursor: pointer;
      top: 6px;
      right: 12px;
      border: none;
      background-color: transparrent;
      outline: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 20px;
      height: 20px; }
      #footer .newsletter > form > button > img {
        width: 20px;
        height: 20px; }
  #footer .copyright {
    padding-bottom: 15px;
    color: #160637;
    font-weight: 900;
    font-size: 16px;
    margin-top: 66px;
    text-align: center; }
