@import "vars"
*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	&:focus
		outline: none

*::-webkit-input-placeholder
	color: #c0c0c0
	opacity: 1

*:-moz-placeholder
	color: #c0c0c0
	opacity: 1

*::-moz-placeholder
	color: #c0c0c0
	opacity: 1

*:-ms-input-placeholder
	color: #c0c0c0
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #000
body input:required:valid,
body textarea:required:valid
	color: #000

html,body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	
	

img
	max-width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto

.btn
	color: #fff
	background-color: $accent
	border: 1px solid $accent
	padding: 12px 24px
	text-decoration: none
	border-radius: 23px
	transition: all .4s ease
	margin-right: 16px
	&:last-child
		margin-right: 0px
	&:hover
		background-color: #FFFFFF
		color: #000
	&.btn_white
		background-color: #FFFFFF
		color: #000
		&:hover
			color: #fff
			background-color: $accent
			
.btn_form
	display: block
	padding: 14px
	color: #fff
	background-color: $accent
	box-shadow: 0 3px 6px
	border: none
	outline: none
	border-radius: 4px
	transition: border-radius .4s ease-in-out
	text-decoration: none
	&:hover
		border-radius: 30px


	
// btns
.btn_simple
	color: $accent
	border: 1px solid $accent
	font-weight: 600
	padding: 12px 24px
	text-decoration: none
	border-radius: 23px
	transition: all .4s ease
	&:hover
		background-color: $accent
		color: #fff
//btns
#top_banner
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		background-image: linear-gradient(to bottom right,#E2F1FF ,#FFFFFF 100% )
		
#header
	padding-top: 24px
	.inner_header
		display: flex
		align-items: center
		justify-content: space-between
		>.logo
			display: block //чтобы было больше расстояния для клика
			width: 48px
			height: 48px
			>img
				width: 100%
		.right_side_header
			display: flex
			align-items: center
			justify-content: space-between
			.mnu_top
				list-style-type: none
				>li
					display: inline-block // чтобы было в 1 строку
					
					position: relative
					a
						display: block
						text-decoration: none
						font-weight: 500
						color: #000
						padding: 2px 40px 4px 0px
						transition: color .4s ease //плавность
						&:hover
							color: $accent
					>.sub_menu
						position: absolute
						z-index: 10
						background-color: #fff
						top: 35px
						border-radius: 5px
						padding: 0px
						animation: opac .6s
						display: none
						>li
							display: block
							>a
								padding: 0px 10px
								font-size: 14px
					&.has_sub_menu
						&:hover>.sub_menu
							opacity: 1
							display: block
						&::after
							content: ''
							display: block
							width: 8px
							height: 4px
							background-image: url('../img/arrow_down.svg')
							background-size: cover
							background-repeat: no-repeat
							position: absolute
							top: 13px
							left: 47px
//плавная анимация
@keyframes opac
	0%
		opacity: 0
	100%
		opacity: 1	
.notif
	background-color: $light_accent
	padding: 8px 30px
	display: flex
	align-items: center
	margin-bottom: 24px
	>img
		width: 16px
		height: auto





	>p
		color: $accent
		>a
			text-decoration: none
			transition: all .4s ease
			border-bottom: 1px solid $accent
			color: $accent
			&:hover
				color: darken($accent,10% )
				border-color: darken($accent,10% )

.main_banner
	padding-top: 131px
	padding-bottom: 158px
	.mb_info
		margin-right: 16px
		>h1
			color: #000
			font-size: 40px
			font-weight: 900
			line-height: 48px
			margin-bottom: 24px
			max-width: 350px
		>.description
			color: #8B9196
			margin-bottom: 24px
		>.btns
			display: flex
			align-items: center
section
	padding: 80px 0px
	&#top_banner
		padding: 0px

#advantages
	.notif
		width: 158px
		margin: 0 auto
		padding: 8px 16px
		border-radius: 30px
		>img
			width: 25px
			height: auto
			margin-right: 12px
		>p
			font-weight: 700
	
	h2
		color: #160637
		font-size: 32px
		font-weight: 700
		text-align: center
		margin: 24px 0px 
	.description
		font-weight: 500
		color: $gray
		max-width: 672px
		margin: 0 auto 24px auto
		text-align: center
	.row_adv
		.item_adv
			text-align: center
			>img
				width: 40px
				height: 40px
				border-radius: 50%
				margin-bottom: 16px
			>.heading
				color: $dark_accent
				font-size: 22px
				font-weight: 700
				margin-bottom: 16px
				text-align: center
			>.descr
				color: $gray
				text-align: center
section.information
	.img-responsive
		margin: 0 auto
	.right_info
		
		>.notif
			width: 256px
			
			border-radius: 30px
		>h3
			color: $dark_accent
			font-size: 32px
			font-weight: 900
			margin-bottom: 24px


		>.descr
			color: $gray
#reviews
	padding: 220px 0px 
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-image: url('../img/reviews_bg.svg')
	.rev_item
		text-align: center
		display: none
		animation: opac .4s
		&.active
			display: block
		>.quotes
			color: $dark_accent
			font-size: 24px
			max-width: 840px
			margin: 0 auto 32px auto
			height: 100px
		>img
			width: 80px
			height: 80px
			border-radius: 50%
		>.name
			margin-top: 32px
		>.name , >.position
			color: #000
			font-weight: 900
	.line
		height: 1px
		background-color: #DEC9FA
		width: 100%
		margin: 32px 0px
	.nav_rev
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		>div
			cursor: pointer
			width: 16%
			filter: grayscale(1)
			transition: all .6s easy
			display: flex
			align-items: center
			justify-content: center
			&:hover, &.active
				filter: grayscale(0)
				transform: scale(1.1)

#pre_footer
	.pf_info
		text-align: center
		>h4
			color: $dark_accent
			font-weight: 900
			font-size: 38px
			text-align: center
		>.line_img
			display: block
			margin: 42px auto
	.form_wrapper
		background-color: #F9F0FF
		border-radius: 4px
		max-width: 480px
		margin: 0 auto
		>form
			border-radius: 4px
			border: 1px solid #F9F0FF
			transform: translateY(-40px)
			box-shadow: 0 10px 20px  rgba(116,116,116,.16)
			width: 86%
			margin: 0 auto
			background-color: #fff
			padding: 36px 36px 24px
			text-align: center
			>h4
				color: $dark_accent
				font-size: 22px
				margin-bottom: 32px
				font-weight: 900
			
			>input
				outline: none
				display: block
				width: 100%
				margin-bottom: 16px
				padding: 14px 24px
				border-radius: 4px
				background-color: #fff
				border: 1px solid rgba(137,137,162,.5)
				transition: border-color .4s ease-in-out
				&::placeholder
					color: $gray
					font-size: 16px
				&:focus
					border-color: lighten($accent,5% )
					
			>.or
				margin: 20px auto 15px
				color: #000
				text-decoration: uppercase
			>a
				display: block
				max-width: 200px
				margin: 0 auto
				text-decoration: none
			>.footer_form
				>.line
					height: 1px
					width: 100%
					background-color: rgba(137,137,162 ,.5 )
					margin: 22px 0
				>p
					font-size: 14px
					color: $gray
					background-color: #fff
					border: none
					>a
						text-decoration: none
						color: #1563ff
#footer	
	padding: 60px	
	.logo_info
		>a
			width: 48px
			height: 48px
			display: block
			>img
				margin: 0 auto
		>.descr
			color: $dark_accent
			font-size: 14px
			margin: 16px 0
	.mnu_footer_wrapper
		display: flex
		flex-wrap: wrap
		padding: 0 15px
		>.mnu_footer
			width: 23%
			
			>ul
				list-style-type: none
				>li
					display: block
					>a
						display: block
						padding: 8px 0
						text-decoration: none
						color: $dark_accent
						transition: color .4s ease
						&:hover
							color: $accent
	b.heading
		color: $dark_accent
		margin-bottom: 10px
		display: block
		font-size: 14px
		font-weight: 900
	.newsletter
		>b.heading
			margin-bottom: 16px
		>form
			display: flex
			align-items: center
			background-color: #fff
			box-shadow: 0 px 9px
			position: relative
			>input
				display: block
				border: none
				outline: none
				padding: 12px 16px
				&::placeholder
					color: $gray
					font-size: 14px
			>button
				position: absolute
				cursor: pointer
				top: 6px
				right: 12px
				border: none
				background-color: transparrent
				outline: none
				display: flex
				align-items: center
				justify-content: center
				width: 20px
				height: 20px
				>img
					width: 20px
					height: 20px
	.copyright
		padding-bottom: 15px
		color: $dark_accent
		font-weight: 900
		font-size: 16px
		margin-top: 66px
		text-align: center

	

			



					





	

		





			


				








    













			
	




		










			













